* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./currency.webp);
  background-size: cover;
}

h2 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.ps-2 {
  padding-left: 0.5rem;
}

.container {
  background: #fef9e8;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 45vw;
  margin: 0.75rem;
  border: 2px solid beige;
  font-size: 1.5rem;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1.5rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 3rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: bisque;
}

.select-container select {
  font-size: 1rem;
  font-weight: 600;
  width: auto;
  margin-left: 0.5rem;
  background-color: transparent;
}

.exchange-rate {
  font-weight: 600;
  padding: 2rem 0 0 0.5rem;
}

.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background: #f47acb;
  border-radius: 1rem;
  padding: 1.15rem;
}

form button {
  height: 3rem;
  background-color: #ed6e0c;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}

@media (max-width: 468px) {
  .container {
    width: 80vw;
  }
}
